[user]
    name = Evan Stern
    email = evan@onshift.com

[core]
    pager = less -FRSX
    editor = vim

[color]
    ui = auto
    diff = auto
    branch = auto
    interactive = auto
    status = auto
            sh = auto

[alias]
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    sta = stash
            nlog = log --no-merges
[color "sh"]
            branch = green

